@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype-variations'); 
    font-weight: 100 900; 
    font-style: normal;
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: dark purple;
}

a:hover {
    color: #CEDE54;
}

/* 3. 클릭했을 때 */
a:active {
    color: red;
}

divider {
	font-size: 20px;
}

body {
	font-family: Quicksand;
	font-weight: 200;
	font-size: 12px;
	transition: background 500ms ease;
	margin-left: 10px;
	margin-top: 10px;
}

li {
	font-size:  15px;
	line-height: 25px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1{
	font-size: 30px;
	margin-bottom:  20px;
}

p {
	line-height: 12px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/